.alugarWrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #C4BEBE;
    font-family: 'Roboto';
}

.alugarWrapper .titleAndOther{
    width: 94%;
    min-height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-end;
}

.alugarWrapper .titleAndOther .filtro{
    width: 18%;
    text-align: left;
    padding-left: 1%;
}

.alugarWrapper .titleAndOther .filtro h2{
    border-bottom: 3px solid red;
    display: inline-block;
}

.alugarWrapper .titleAndOther .valorResultado{
    /* flex:1; */
    width: 33%;
    text-align: left;
}

.alugarWrapper .titleAndOther .filterPreco{
    /* flex:1; */
    width: 33%;
    text-align: right;
}

.alugarWrapper .titleAndOther .filterPreco select{
    background-color: #555555;
    width: 20%;
    padding: 2%;
    text-align: center;
    color: #ffffff;
}


.alugarWrapper .resultsFlex{
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* border: 2px solid red; */
    flex-flow: row nowrap;
}

.alugarWrapper .resultsFlex .sideNav{
    /* flex: 1; */
    /* border: 2px solid green; */
    margin: 0 4%;
}

.alugarWrapper .resultsFlex .mainResults{
    /* flex: 2; */
    background-color: #F2F2F2;
    width: 70%;
    margin: 0.7% auto;
}

.alugarWrapper .resultsFlex .sideNav .caixa{
    background-color: #ffffff;
    width: 250px;
    height: 200px;
    margin: 5% auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sideNav{
        display: none;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}