.mainWrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #555555;
}

.mainWrapper .secondWrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.mainWrapper .secondWrapper .images{
    flex: 1;
}

.mainWrapper .secondWrapper .info{
    flex: 1;
    display: flex;
}

.mainWrapper .secondWrapper .info .centerInfo{
    width: 70%;
    min-height: 400px;
    border: 2px solid red;
    margin: auto;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mainWrapper .secondWrapper{
        flex-flow: column nowrap;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}