.mainWrapper{
    width: 100%;
    min-height: 100vh;
    /* background-color: #555555; */
}

.mainWrapper .secondWrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.mainWrapper .secondWrapper .images{
    flex: 1.5;
}

.mainWrapper .secondWrapper .info{
    flex: 1;
    display: flex;
}

.mainWrapper .secondWrapper .info .centerInfo{
    width: 70%;
    min-height: 400px;
    margin: auto;
    display: flex;
    /* border: 2px solid red; */
}

.centerInfo .mainDiv{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.centerInfo .mainDiv .ender{
    width: 100%;
    padding: 2%;
    text-align: center;
}

.centerInfo .mainDiv .ender h2{
    font-size: 55px;
    text-transform: uppercase;
    padding: 2%;
}

.centerInfo .outrasInfo{
    width: 100%;
    display: flex;
    margin: auto;
}

.centerInfo .outrasInfo .leftSide{
    /* border: 2px solid green; */
    flex: 1;
    text-align: center;
}

.centerInfo .outrasInfo .rightSide{
    /* border: 2px solid green; */
    flex: 1;
    text-align: center;
}

.centerInfo .arrowDown{
    /* border: 2px solid blue; */
    text-align: center;
}

.centerInfo .arrowDown i{
    padding: 2%;
    cursor: pointer;
}

.showInfoPrice{
    width: 100%;
    min-height: 50vh;
    background-color: #555555;
    display: flex;
    align-items: center;
}

.showInfoPrice .itemInfo{
    width: 30%;
    margin: auto;
    text-align: center;
}

.showInfoPrice .dummyText{
    color: #ffffff;
}

.showInfoPrice .dummyText h1{
    border-bottom: 2px solid red;
    display: inline-block;
}

.showInfoPrice .infoCasa{
    color: #fff;
}

.showInfoPrice .precoCasa h5{
    color: #fff;
}

.showInfoPrice .precoCasa p{
    font-size: 35px;
    color: #fff;
}

.carrousel{
    width: 50%;
    height: 100vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mainWrapper .secondWrapper{
        flex-flow: column nowrap;
    }

    .centerInfo .mainDiv .ender h2{
        font-size: 45px;
        text-transform: uppercase;
    }

    .showInfoPrice{
        flex-flow: column-reverse nowrap;
        min-height: 70vh;
    }

    .showInfoPrice .itemInfo{
        width: 100%;
    }

    .showInfoPrice .infoCasa p{
        padding: 8%;
    }

    .mainWrapper .secondWrapper .images{
        flex: 3;
    }

    .carrousel{
        width: 100%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .mainWrapper .secondWrapper{
        flex-flow: column nowrap;
    }

    .showInfoPrice{
        flex-flow: column-reverse nowrap;
        min-height: 70vh;
    }

    .showInfoPrice .infoCasa {
        width: 80%;
        text-align: justify;
    }

    .carrousel{
        width: 100%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 800px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}