.showWrapper{
    width: 90%;
    min-height: 250px;
    background-color: #ffffff;
    margin: 2% auto;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}

.showWrapperGrid{
    width: 20%; /*CHANGE 2*/
    min-height: 470px;
    background-color: #ffffff;
    margin: 2% 2% 2% 3%;
    display: flex;
    flex-flow: column nowrap; /*CHANGE 1*/
    text-align: center;
}

.showWrapper .img{
    flex: 1;
}

.showWrapperGrid .img{
    flex: 1;
}

.showWrapper .houseInfo{
    flex: 2;
    display: flex;
    flex-flow: row nowrap;
}

.houseInfoGrid{
    flex: 2;
    display: flex;
    flex-flow: column nowrap;
}

.showWrapper .houseInfo .houseStatus{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.showWrapperGrid .houseInfoGrid .houseStatus{
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.showWrapper .houseInfo .houseStatus .showEnder{
    flex: 1;
    display: flex;
}

.showWrapperGrid .houseInfoGrid .houseStatus .showEnder{
    flex: 1;
}

.showWrapper .houseInfo .houseStatus .showEnder h3{
    flex: 1;
    margin: auto;
    padding: 2%;
}

.showWrapperGrid .houseInfoGrid .houseStatus .showEnder h3{
    flex: 1;
}


.showWrapper .houseInfo .houseStatus .showIcons{
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}

.showWrapperGrid .houseInfoGrid .houseStatus .showIcons{
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
}
 
.showWrapper .houseInfo .houseStatus .showIcons .leftSide{
    flex: 1;
}

.showWrapperGrid .houseInfoGrid .houseStatus .showIcons .leftSide{
    flex: 1;
}

.showWrapper .houseInfo .houseStatus .showIcons .rightSide{
    flex: 1;
}

.showWrapperGrid .houseInfoGrid .houseStatus .showIcons .rightSide{
    flex: 1;
}

.showWrapper .houseInfo .housePricing{
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-flow: column nowrap;
}


.showWrapperGrid .houseInfoGrid .housePricing{
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-flow: column nowrap;
}

.housePricing .price{
    flex: 1;
    display: flex;
}

.housePricing .price p{
    margin: auto;
    font-size: 35px;
}

.housePricing .priceGrid{
    flex: 1;
    display: flex;
}

.priceGrid p{
    margin: auto;
    font-size: 18px;
    border-bottom: 2px solid red;
}

.housePricing .buyOrSee{
    flex: 1;
    display: flex;
    flex-flow: column-reverse nowrap;
}

.housePricing .buyOrSeeGrid{
    flex: 1;
    display: flex;
    flex-flow: row-reverse nowrap;
}

.housePricing .buyOrSeeGrid button{
    margin: auto;
    padding: 4%;
    width: 60%;
    border: none;
    cursor: pointer;
}

.housePricing .buyOrSee button{
    margin: auto;
    padding: 4%;
    width: 60%;
    border: none;
    cursor: pointer;
}

.housePricing .buyOrSee button:nth-child(1){
    background-color: #FF0000;
    color: #ffffff;
}

.housePricing .buyOrSee button:nth-child(2){
    background-color: #FB8700;
    color: #ffffff;
}

.housePricing .buyOrSeeGrid button:nth-child(1){
    background-color: #FF0000;
    color: #ffffff;
}

.housePricing .buyOrSeeGrid button:nth-child(2){
    background-color: #FB8700;
    color: #ffffff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .showWrapper{
        flex-flow: column nowrap;
        min-height: 500px;
        margin-bottom: 8%;
        margin-top: 8%;
    }

    .showWrapper .houseInfo{
        flex-flow: column nowrap;
    }

    .showWrapper .houseInfo .housePricing{
        flex-flow: column nowrap;
    }

    .showWrapper .img{
        flex: 3;
    }

    .housePricing .price p{
        font-size: 25px;
    }

    .showWrapperGrid{
        width: 100%;
        flex-flow: column nowrap; /*CHANGE 1*/
        text-align: center;
    }

} 



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 700px) {
    .showWrapper{
        flex-flow: column nowrap;
        min-height: 500px;
        margin-bottom: 8%;
        margin-top: 8%;
    }

    .showWrapper .houseInfo{
        flex-flow: column nowrap;
    }

    .showWrapper .houseInfo .housePricing{
        flex-flow: column nowrap;
    }

    .housePricing .buyOrSee{
        flex-flow: row nowrap;
    }

    .showWrapper .img{
        flex: 3;
    }

    .showWrapperGrid{
        width: 40%;
    }
} 

@media only screen and (min-width: 700px) and (max-width: 768px) {
    .showWrapper{
        flex-flow: column nowrap;
        min-height: 500px;
        margin-bottom: 8%;
        margin-top: 8%;
    }

    .showWrapper .houseInfo{
        flex-flow: column nowrap;
    }

    .housePricing .buyOrSee{
        flex-flow: row nowrap;
    }

    .showWrapper .img{
        flex: 3;
    }

    .showWrapperGrid{
        width: 40%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 900px) {
    .showWrapper{
        flex-flow: column nowrap;
        min-height: 500px;
        margin-bottom: 8%;
        margin-top: 8%;
    }

    .showWrapper .houseInfo{
        flex-flow: column nowrap;
    }

    .housePricing .buyOrSee{
        flex-flow: row nowrap;
    }

    .showWrapper .img{
        flex: 3;
    }

    .showWrapperGrid{
        width: 45%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) and (max-width: 1100px) {
    .showWrapper{
        flex-flow: column nowrap;
        min-height: 500px;
        margin-bottom: 8%;
        margin-top: 8%;
    }

    .showWrapper .houseInfo{
        flex-flow: column nowrap;
    }

    .housePricing .buyOrSee{
        flex-flow: row nowrap;
    }

    .showWrapper .img{
        flex: 4;
    }

    .housePricing .buyOrSee button{
       padding: 2%;
    }

    .showWrapperGrid{
        width: 45%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1271px) {
    .housePricing .buyOrSeeGrid{
        flex-flow: column nowrap;
    }

    .housePricing .buyOrSeeGrid button{
        width: 100%;
    }
}

