.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: grey;
}

.wrapper .mainResults{
    width: 100%;
    min-height: 100vh;
    background-color: #F2F2F2;
    display: inline-flex;
}

.wrapper .mainResults .mainDiv{
    flex: 1;
    margin: 5%;
    text-align: center;
}

.wrapper .mainDiv .fa-arrow-left{
    cursor: pointer;
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper .mainDiv .fa-arrow-left{
        display: none;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper .mainDiv .fa-arrow-left{
        display: block;
    }
    
}